body {
    font-family: 'Open Sans', sans-serif;
}

.kineticjs-content {
    background-image: url(grounds.png);
    background-repeat: no-repeat;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    height: 42px;
    width: 100%;
    margin: 0;
    z-index: 9;
}

.top h1 {
    display: inline;
    font-size: 30px;
}

.top .add {
    margin-top: 5px;
    width: 100%;
}


.saved {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.add #busName {
    width: 100%;
    width: calc(100% - 132px);
    height: 40px;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 0;
}

.add #createBus {
    font-size: 18px;
    width: auto;
    height: 40px;

}

.updater {
    position: absolute; 
    top: 200px;
    width: 315px;
    height: 35px;
    display: none;
    z-index: 10;
}

.updater #updaterDelete {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.updater #updaterText {
    font-size: 14px;
    width: 150px;
}

.updater #updaterChange {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.updater #updaterColor {
    background-color: yellow;
    width: 15px;
    height: 34px;
    border-radius: 0;
    border: 1px solid black;
    float: left;
}